@{
    Layout = "_Layout";
}

@using BestRestaurants.Models;

<h1>Cuisines</h1>

@if (@Model.Count == 0)
{
    <h3>No Cuisines have been added yet!</h3>
}
<div class="container">
    <ul>
        @foreach (Cuisine cuisine in Model)
        {
            <li>@Html.ActionLink($"{cuisine.Name}", "Details", new { id = cuisine.CuisineId })</li>
        }
    </ul>
</div>
<p>@Html.ActionLink("Add new Cuisine", "Create")</p>
<p>@Html.ActionLink("Add new Restaurant", "Create", "Restaurants")</p>
<p>@Html.ActionLink("Add new Review", "Create", "Reviews")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>